@import "../../constants/colors.css";

.public-suggestion {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 1.5rem;
  background-color: var(--bg-gray);
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.request {
  margin-top: 2rem;
  width: 35%;
  min-width: 300px;
  overflow-y: auto;
  max-height: 100%;
  padding: 1rem 1rem;
}

.response {
  flex-grow: 1;
  background-color: var(--bg-darkGreen);
  padding: 1.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: start;
}

.no-suggestion {
  font-size: 2rem;
  color: var(--text-gray);
  align-items: center;
  justify-content: center;
}

/* ai modal */

.ai-response-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-response-modal {
  background: white;
  width: 90%;
  max-width: 600px;
  max-height: 75vh; /* Half of the viewport height */
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Smooth scrolling inside */
.ai-response-modal::-webkit-scrollbar {
  width: 6px;
}
.ai-response-modal::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
