@import '../../constants/colors.css';


.add-crop input {
  padding: 1.2rem 1.5rem;
  font-size: 1rem;
  border: 1px solid green;
  border-radius: 5px;
  width: 100%;
  background-color: var(--white);
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
  background-color: var(--white);
  box-shadow: 0 0 0 4px rgba(88, 91, 94, 0.15);
}