@import '../../constants/colors.css';

.button-common {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  border-width: 1px;
  border-color: var(--bg-darkGreen);
}

.button-common:hover {
  color: var(--white);
}