@import'../../constants/colors.css';

.crop-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e7eb;
  padding: 12px 12px;
  margin: 10px 0;
  border-radius: 6px;
  gap: 2rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.crop-name {
  font-size: 1.1rem;
  font-weight: 400;
}



