@import '../../constants/colors.css';

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-price-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}



